.cell {
    background-color: lightblue;
    width: 100px;
    height: 100px;        
    border: 1px solid darkblue;
    font-size: 75px;
    text-align:center;
    cursor:text;
}

.cell-wrapper {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    margin: 10px;
    padding: 5px;
    /* padding: 5px; expands element */
    /* margin: 5px; moves element */
}

/* .cell-wrapper:hover {
    transform: skewY(80deg);
    transition: 0.5s;
} */


/* Button info: */
.play-button{
    padding: 10px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    background-color: #178d9c;
    border: rgb(135, 124, 235);
    border-radius: 15px;
}
.play-button:active{
    background-color: #1ebe73;
    transform: translateY(5px);
  }
